@font-face {
  font-family: "Inju";
  src: url("../fonts/ClashGrotesk-Regular.woff2") format("woff2"),
    /* Modern Browsers */ url("../fonts/ClashGrotesk-Regular.woff")
      format("woff"),
    /* Older Browsers */ url("../fonts/ClashGrotesk-Regular.ttf")
      format("truetype"); /* Legacy Browsers */
  font-weight: normal;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-weight: 300;
}

:root {
  --accent: #cf0;
  --white: #ffffff;
  --font: "Inju";
}

body,
html {
  color: white;
  background-color: black;
  scroll-behavior: smooth;
}

h1 {
  margin-bottom: 60px;
  font-size: 105px;
  font-family: var(--font);
}

p {
  line-height: 28px;
  font-size: 20px;
}

.preview-video {
  display: none;
}

.preview-image {
  display: none;
}

@media only screen and (max-width: 1000px) {
  h1 {
    font-size: 70px;
  }
}

@media only screen and (min-width: 768px) {
  .preview-video {
    display: block;
  }
}

@media only screen and (max-width: 768px) {
  h1 {
    font-size: 50px;
  }
  .preview-video {
    display: none;
  }
  .preview-image {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  h1 {
    font-size: 35px;
    margin-bottom: 80px;
  }
}