main {
    padding: 140px 50px 35px;
}

.back-home {
    font-size: 18px;
    color: white;
    opacity: .5;
    font-family: var(--font);
    text-decoration: none;
}

.label {
    margin-top: 25px;
    color: var(--accent);
    font-family: var(--font);
    font-size: 30px;
}

h1 {
    margin-bottom: 35px;
}

p {
    max-width: 700px;
  }

  .meta-data {
    display: flex;
    justify-content: space-between;
    margin: 35px 0 50px;
  }
  
  .meta-data span {
    padding: 15px 25px;
    font-size: 18px;
    font-family: var(--font);
    color: white;
    background-color: rgb(13, 13, 13);
    border-radius: 100px;
  }

  .right {
    width: 300px;
  }

  .button {
    border-radius: 100px;
    min-width: 100%;
    padding: 20px 0;
    font-family: var(--font);
    font-size: 18px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
  }
  
  .primary {
    background-color: transparent;
    border: 1px solid var(--accent);
    color: var(--accent);
    background-color: rgb(20, 25, 0);
  }
  
  .secondary {
    background-color: rgb(13, 13, 13);
    border: 1px solid rgba(255, 255, 255, 0.25);
    color: white;
  }