.hero {
  padding: 140px 50px 35px;
}

.back-home {
  font-size: 18px;
  color: white;
  opacity: 0.5;
  font-family: var(--font);
  text-decoration: none;
}

.label {
  margin-top: 25px;
  color: var(--accent);
  font-family: var(--font);
  font-size: 30px;
}

h1 {
  margin-bottom: 35px;
}

p {
  max-width: 700px;
}

.project-paragraph, i {
  color: var(--gray);
}

.text-container {
  margin: 50px 0;
}

.meta-data {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  margin: 35px 0 50px;
  align-items: center;
}

.meta-data .left {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.meta-data span {
  display: block;
  padding: 15px 25px;
  font-size: 18px;
  font-family: var(--font);
  color: white;
  background-color: rgb(13, 13, 13);
  border-radius: 100px;
}

.meta-data .right {
  width: 300px;
}

.right .button {
  width: 100%;
}

.button {
  border-radius: 100px;
  min-width: 100%;
  padding: 20px 40px;
  font-family: var(--font);
  font-size: 18px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.primary {
  background-color: transparent;
  border: 1px solid var(--accent);
  color: var(--accent);
  background-color: rgb(20, 25, 0);
}

.secondary {
  background-color: rgb(13, 13, 13);
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: white;
}

main {
  padding: 0 50px;
}

main img, main .project-video {
  width: 100%;
  height: auto;
}

main .content {
  padding: 25px 0;
}

.row-single-image {
  width: 100%;
  padding: 25px 0;
}

.row-double-image, .row-triple-image {
  display: grid;
  gap: 50px;
  padding: 25px 0;
}

.row-double-image {
  grid-template-columns: repeat(2, 1fr);
}

.row-triple-image {
  grid-template-columns: repeat(3, 1fr);
}

figure figcaption, .row-triple-image figcaption {
  position: absolute;
  bottom: 0;
}

figure.row-triple-image {
  position: relative;
  padding-bottom: 50px;
}

.project-paragraph a, .project-paragraph a:visited {
  color: var(--white);
  font-style: italic;
  text-decoration: none;
}

.line {
  width: 100%;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  margin-top: 25px;
  margin-bottom: 50px;
}

.flex-end {
  align-items: flex-end;
}

@media only screen and (max-width: 1000px) {
  .meta-data {
    gap: 50px;
    flex-direction: column;
    align-items: flex-start;
  }

  .meta-data .right {
    width: 100%;
  }

  .right .button {
    width: 100%;
  }
}

@media only screen and (max-width: 768px) {
  .hero {
    padding: 140px 15px 35px;
  }
  main {
    padding: 0 15px;
  }
  .row-double-image {
    grid-template-columns: 1fr;
  }
  
  .row-triple-image {
    grid-template-columns: 1fr;
  }
  .label {
    font-size: 18px;
  }
}